.ui-page-scrolling-section {
    position: absolute;
    width: 100%;
    height: 100%;

}

.ui-page-scrolling-section_active {

}

.ui-page-scrolling-control {

}

.ui-page-scrolling-control_active {

}

.ui-page-scrolling-main {
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style : preserve-3d;
}