html, body {
    margin: 0;
}

.head-wrapper {
    height: 70px;
    width: 100%;
}

.page {
    margin: 0 auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #333;
}

.head {
    background-color: #fefefe;
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, .5);
    height: 50px;
    padding-bottom: 20px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 3;
}

    .head__back {
        text-decoration: none;
        font-size: 18px;
        position: absolute;
        top: 24px;
        transform: rotate(-45deg);
    }

        .head__back:hover {
            color: #c00;
        }

.header, .content {
   width: 1000px;
   margin: 0 auto;
   position: relative;
   top: 20px;
}

    .header__title {
        font-size: 30px;
        display: inline-block;
    }

    .header__list {
        display: inline-block;
        margin-left: 20px;
    }

.link {
    color: #333;
    text-decoration: none;
}

    .link:hover {
        text-decoration: dotted;
        color: #c00;
    }

.links {
    display: inline-block;
}

    .links__item {
        display: inline-block;
        margin-left: 20px;

    }

h2 {
    font-weight: 300;
    font-size: 22px;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

.list {
    margin-left: -40px;
}

.list__item {
    margin-top: 10px;
}

code {
    white-space: pre;
}