.popup-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 10;
}

    .popup-wrapper_fade {
        background-color: rgba(0,0,0,0.5);
    }

.popup {
    padding: 15px;
    background-color: #fefefe;
    border-radius: 5px;
    top: 45px;
    left: 45px;
    right: 45px;
    bottom: 45px;
    position: absolute;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .6);
}

    .popup__close {
        background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNSAxNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyI+PHRpdGxlPlJlY3RhbmdsZSA5OTwvdGl0bGU+PGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+PHBhdGggZD0iTTYuMzY0IDcuMDcxbC02LjM2NC02LjM2NC43MDctLjcwNyA2LjM2NCA2LjM2NCA2LjM2NC02LjM2NC43MDcuNzA3LTYuMzY0IDYuMzY0IDYuMzY0IDYuMzY0LS43MDcuNzA3LTYuMzY0LTYuMzY0LTYuMzY0IDYuMzY0LS43MDctLjcwNyA2LjM2NC02LjM2NHoiIGZpbGw9IiM0NDQiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiLz48L3N2Zz4=);
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        cursor: pointer;
        float: right;
    }

    .popup__content {
        margin: 5px;
        color: #333;
    }

